@page
@using AbpXAmis.Permissions
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using AbpXAmis.Web.Pages.Books.Book
@using AbpXAmis.Localization
@using AbpXAmis.Web.Menus
@model IndexModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<AbpXAmisResource> L
@inject IAuthorizationService Authorization
@{
    PageLayout.Content.Title = L["Book"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:Book"].Value);
    PageLayout.Content.MenuItemName = AbpXAmisMenus.Book;
}

@section scripts
{
    <abp-script src="/Pages/Books/Book/index.js" />
    <abp-script src="/libs/amis/sdk.js" />
}
@section styles
{
    <abp-style src="/Pages/Books/Book/index.css"/>
    <abp-style src="/libs/amis/sdk.css" />
}

<div id="root" class="app-wrapper"></div>